/*global utility classes */
.center {
    /* centers containers */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* end of utility classes */

.list_item {
    width: 370px;
    /* height 41 applies to all other list items except the first header */
    height: 41px;
    padding: 8px 15px 8px 22px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.page_name {
    width: calc(370px - 35px);
    height: 35px;
    /* padding-top: 5px; */
    display: flex;
    align-items: center;
    cursor: pointer;
}
.check_page {
    width: 35px;
    height: 35px;
    opacity: 0.6;
    position: relative;
    cursor: pointer;
}
.checkbox {
    width: 25px;
    height: 25px;
    max-width: 25px;
    /* position: relative; */
    position: absolute;
    /* makes the default styling disappear to hide borders */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #CDCDCD !important;
    border-radius: 6px;
    /* increase z index of the input */
    z-index: 2000;
}
.check_box label {
    cursor: pointer;
}
.check_page_container_large {
    position: absolute;
    width: 17px;
    height: 12px;
    border: 1px solid #E3E3E3;
    opacity: 0;
    z-index: -20000;
}
.check_page_container_small {
    position: absolute;
    width: 14px;
    height: 8.8px;
    border: 1px solid #E3E3E3;
    opacity: 0;
    z-index: -22000;
}
.tick_icon {
    position: absolute;
    display: block;
    opacity: 0;
    cursor: pointer;
    z-index: -20000;
}
/* hover states */
.checkbox:hover {
    border: 1px solid #BDBDBD;
}
.list_item:hover .tick_icon {
    opacity: 0.2;
    width: 22px;
    height: 22px;
}
/* end of hover states */

/* on mouse down utility states / classes */
.check_page .show_tick_mark +.tick_icon {
    /* show tick mark ensures the tick icon has more opacity */
    opacity: 0.8;
    width: 22px;
    height: 22px;
}
.box-shadow {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5);
    border-radius: 6px;
}
.border-color-focus {
    border: 1px solid #878787;
}
 /* end of mouse down utility states / classes */

 /* checked states */
 .checkbox:checked +.check_page_container_large {
    border: 1px solid #FFFFFF
 }
 .check_page:has(.checkbox:checked) {
    opacity: 0.9;
 }
 .checkbox:checked {
    background: #2469F6;
    opacity: 0.9;
 }
 .checkbox:checked + label .tick_icon {
    color: #FFFFFF !important;
    opacity: 0.9;
    width: 22px;
    height: 22px;
    z-index: 2000;
 }
.checkbox:checked:is(:hover) {
    background: #5087F8;
}

 /* end of checked states */

 /* unchecking states */
 .blue-background-checked .check_box {
    /* blue-background-state is a utility class that will be added dynamically when the user clicks to uncheck a checkbox */
    background: #2469F6;
    border: 3px solid #2469F6;
    opacity: 0.9;
 }
 /* end of unchecking states */